@page
@model ContosoCrafts.WebSite.Pages.Product.PawIndexModel
@{
    ViewData["Title"] = "Pawfect - Paws page";
}

<div class="container">
    <div class="card my-5">
        <div class="card-header">
            <a class="btn btn-success" asp-page="Create">Add Paw</a>
        </div>
        <div class="card-body">
            <table class="table table-responsive table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Breed</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Paw in Model.Paws)
                    {
                    <tr>
                        <td>@Paw.Paw.Name</td>
                        <td>@Paw.Paw.Breed</td>
                        <td>@Paw.Paw.Gender</td>
                        <td>@Paw.Paw.Age Years</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-page="Read" asp-route-id="@Paw.Id">Read</a>
                            <a class="btn btn-secondary btn-sm" asp-page="Update" asp-route-id="@Paw.Id">Update</a>
                            <a class="btn btn-danger btn-sm" asp-page="Delete" asp-route-id="@Paw.Id">Delete</a>
                            <a class="btn btn-success btn-sm" asp-page="AddFeedback" asp-route-id="@Paw.Id">Add Feedback</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>